{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body">
        {% block container_body %}
            <div class="main_container">
                {% block main_container %}
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view">
                            {% block left_column %}
                                <div class="navbar nav_title" style="border: 0;">
                                    {% block top_left %}
                                        <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Symf on Gentelella!</span></a>
                                    {% endblock %}
                                </div>
                                <div class="clearfix"></div>
                                <!-- menu prile quick info -->
                                <div class="profile">
                                    {% block left_profile_quick_info %}{% endblock %}
                                </div>
                                <!-- /menu prile quick info -->

                                <br />

                                <!-- sidebar menu -->
                                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                    {% block sidebar_menu %}{% endblock %}
                                </div>

                                <!-- /menu footer buttons -->
                                <div class="sidebar-footer hidden-small">
                                    {% block left_column_footer_buttons %}{% endblock %}
                                </div>
                                <!-- /menu footer buttons -->
                            {% endblock %}
                        </div>
                    </div>

                    <!-- top navigation -->
                    <div class="top_nav">
                        {% block top_navigation %}{% endblock %}
                    </div>

                    <!-- page content -->
                    <div class="right_col" role="main">
                        {% block content %}{% endblock %}
                    </div>

                    <!-- footer content -->
                    <footer>
                        {% block footer %}{% endblock %}
                    </footer>
                    <!-- /footer content -->
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
{% endblock %}

